<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <% park.forEach((park) => { %>
            <p>ID: <%=park.id %></p>
            <p>Name: <%=park.name %></p>
            <p>Location: <%=park.location %></p>
            <P>Borough: <%=park.borough %></P>
            <p>Open: <%=park.open %></p>
            <p>Handicap Accessible: <%=park.handicap %></p>
            <form method="POST" action="/parks/<%=park.id %>?_method=DELETE">
            <button type="submit">Delete</button>
            </form>
            <% }) %>
    </div>
</body>
</html>