<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>NYC Public Restrooms</title>
</head>
<body>
    <section class="hero is-primary is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              NYC Public Toilets
            </h1>
            <h2 class="subtitle">
              Wee Care
            </h2>
          </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs">
              <div class="container">
                <ul>
                  <li class="is-active">
                      <a href="/parks/new">Post a New Listing</a></li>
                  <li><a>Search</a></li>
                </ul>
              </div>
            </nav>
        </div>
      </section>

      <% park.forEach((park) => { %>
        <% let link = park.location.replace(/\s/g,'%20') %>
        <% let nextLink = link.replace(/,/g, '%2C') %>
                <div class="column is-large">
                    <p>Name: <strong><a href="/parks/<%=park.id %>"><%=park.name %></a></strong></p>
                    <p>Location: <a href="https://www.google.com/maps/search/?api=1&query=<%=nextLink%>"><%=park.location %></a></p>
                    <P>Borough: <%=park.borough %></P>
                    <p>Open: <%=park.open %></p>
                    <p>Handicap Accessible: <%=park.handicap %></p>
                </div>
    <% }) %>

</body>
</html>